*.iml
Android\ Application/.gradle
/Android\ Application/local.properties
/Android\ Application/.idea/workspace.xml
/Android\ Application/.idea/libraries
.DS_Store
/Android\ Application/build
/Android\ Application/captures
/Android\ Application/.externalNativeBuild
/Android\ Application/.idea

